.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.controls{
  width: 40vw;
}

.box{
  width: 40vw;
  height: 50vh;
  background-color: #2e86de;
  color: white;
}

.blur{
  margin-right: 15px;
}

p{
  text-align: center;
  font-size: 20px;
  padding: 20vh;
}

label{
  font-size: 15px;
  font-family: monospace;
  float: left;
}

